<%= render :partial => "subscriptions/subscribe", :locals => { :object => item } %>
<% if logged_in_and_member? && Seek::Config.is_virtualliver %>
<% end %>

<%= admin_dropdown do %>
    <% if item.can_manage? %>
        <li><%= image_tag_for_key('manage', edit_sample_path(item), "Manage Sample", nil, 'Manage Sample') %></li>
    <% elsif item.can_edit? %>
        <li><%= image_tag_for_key('edit', edit_sample_path(item), "Edit Sample", nil, 'Edit Sample') %></li>
    <% end %>
    <%= delete_icon(item, current_user)-%>
<% end %>
