<%= render :partial => "general/item_title", :locals => {:item => @sample} -%>

<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">
    <%= item_description @sample.description -%>
    <div class="row"></div>

      <div class="panel panel-default">
        <div class="panel-heading"><%= image('openbis') %> openBIS</div>
        <div class="panel-body">
          <div class="col-md-7 openbis-sample">
            <%= format_openbis_properties(@sample.properties) %>
          </div>
          <div class="col-md-4">
            <%= render :partial => "openbis/resource_info", :object => @sample %>
          </div>
          <div class="col-md-1">
            <div class="openbis-resync-button">
              <%= button_link_to("", 'refresh', openbis_refresh_openbis_sample_path(@sample), :method => :put) %>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-3 col-sm-4">
    <%= render :partial => "assets/resource_main_content_right", :locals => {:resource => @sample, :creators => [@sample.contributor.person]} %>
  </div>
</div>

<%= render :partial=>"general/isa_graph", :locals => {:root_item => @openbis_sample, :current_item => @openbis_sample, :deep => true} %>

<%= render :partial => "general/items_related_to", :object => @openbis_sample %>