<tr>
  <td>
    <%= check_box_tag "dataset_#{dataset.perm_id}" %>
  </td>
  <td>
    <a name="<%= dataset.perm_id %>"></a>
    <%= dataset.code %>
  </td>
  <td>
    <%= format_openbis_properties(dataset.properties) %>
  </td>
  <td>
    <%= dataset.dataset_type_text %>
  </td>
  <td>
    <%= date_as_string(dataset.registration_date,false) %>
  </td>
  <td>
    <%= date_as_string(dataset.modification_date,false) %>
  </td>

  <td>
    <%= dataset.perm_id %>
  </td>

</tr>