<tr>
  <td>
    <% if @dataset_perm_ids.include?(dataset.perm_id) %>
        <%= image('tick') -%>
    <% else %>
        <%= check_box_tag "datasets[#{dataset.perm_id}]" %>
    <% end %>
  </td>
  <td>
    <a name="<%= dataset.perm_id %>"></a>
    <%= dataset.code %>
  </td>
  <td>
    <%= format_openbis_properties(dataset.properties) %>
  </td>
  <td>
    <%= dataset.dataset_type_text %>
  </td>
  <td>
    <%= date_as_string(dataset.registration_date,false) %>
  </td>
  <td>
    <%= date_as_string(dataset.modification_date,false) %>
  </td>

  <td>
    <%= dataset.perm_id %>
  </td>

  <td>
    <% dataset.dataset_file.files.each do |file| %>
        <% if file.size > 0 %>
          <%= file.name %>
          <%= number_to_human_size(file.size) %>
          <% download_url = '' %>
          <%= image_tag_for_key('download', download_url, "Download", {:title => 'Download this file'}, "") -%>
        <% end %>
    <% end %>
  </td>

</tr>