<div class="openbis-sample">
  <div class="openbis-sample-title">
    <div class="row">
      <div class="col-xs-8">
        <% if @sample_perm_ids.include?(sample.perm_id) %>
            <%= image('tick') -%>
        <% else %>
            <%= check_box_tag "samples[#{sample.perm_id}]" %>
        <% end %>
        <a><%= sample.identifier %> <span class="caret"></span></a>
        <span class="subtle">(<%= sample.sample_type_text %>)</span>
      </div>
      <div class="col-xs-4 text-right">
        <%= date_as_string(sample.modification_date,false) %>
      </div>
    </div>
  </div>
  <div class="openbis-sample-body">
    <%= format_openbis_properties(sample.properties) %>

    <div class="openbis_metadata">
      <b>Sample Type</b>: <%= sample.sample_type_text %>
    </div>

    <div class="openbis_metadata">
      <b>PermId</b>: <%= sample.perm_id %>
    </div>

    <div class="openbis_metadata">
      <b>Created</b>: <%= date_as_string(sample.registration_date,false) %>
    </div>

    <div class="openbis_metadata">
      <b>Last modified</b>: <%= date_as_string(sample.modification_date,false) %>
    </div>

    <% if sample.datasets.any? %>
        <%= render :partial => 'openbis/datasets', :object => sample.datasets %>
    <% end %>
  </div>
</div>
