<tr>
  <td>
    <%= check_box_tag "samples[#{sample.perm_id}]" %>
  </td>
  <td>
    <a name="<%= sample.perm_id %>"></a>
    <%= sample.identifier %>
  </td>
  <td>
    <%= format_openbis_properties(sample.properties) %>
  </td>
  <td>
    <%= sample.sample_type_text %>
  </td>
  <td>
    <%= dataset_links(sample.datasets,@experiment.datasets)  %>
  </td>
  <td>
    <%= date_as_string(sample.registration_date,false) %>
  </td>
  <td>
    <%= date_as_string(sample.modification_date,false) %>
  </td>

  <td>
    <%= sample.perm_id %>
  </td>

</tr>